{% extends 'base.html.twig' %}

{% block title %}New ListeOperation{% endblock %}

{% block body %}
    <h1>Create new ListeOperation</h1>

    {{ include('liste_operation/_form.html.twig') }}

    <a href="{{ path('liste_operation_index') }}">back to list</a>
{% endblock %}
