{% extends 'base.html.twig' %}

{% block title %}New PiecesNecessaire{% endblock %}

{% block body %}
    <h1>Create new PiecesNecessaire</h1>

    {{ include('pieces_necessaire/_form.html.twig') }}

    <a href="{{ path('pieces_necessaire_index') }}">back to list</a>
{% endblock %}
